*{margin: 0; padding: 0;}

html{
    background: rgb(131,58,180);
    background: linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 50%, rgba(252,176,69,1) 100%);
}

h1 {
    margin-top: 140px;
    margin-left: 50px;
    font-size: 6rem;
    font-family: cursive;
    font-weight: 300;
    color: brown;
}

h3 {
    margin-left: 14rem;
    margin-top: 5rem;
    font-size: 4rem;
    color: black;
    font-family: monospace;
    font-weight: 700;
}
